@use "../mixins/mixins";

body {
    padding: 4rem;
    background: linear-gradient(to bottom right, hsl(229,61%,67%),hsl(291,65%,44%));
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

main {
    font-size: 2rem;
    @include mixins.flexCenter(center, center, wrap, column, 2rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    background:#eee;    
    padding:4rem;
    border-radius: 0.5rem;
    max-width: 120rem;
    margin: 0 auto;
}

@media screen and (max-width: 62.5rem) {
    body{
        padding:1rem;
    }
    main{
        padding:1rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}